*{
	margin: 0;
	padding: 0;
}


.clearfix:after{
	content: '';
 	display: block;
 	clear: both;
 }
.wrapper{
	max-width: 800px;
	margin: 0 auto;
}
 .sub-heading{
	line-height: 30px;
	font-size: 18px;
}
.blue-section .hr,.purple-section .hr{
	background: black;
    width: 60%;
}

/* header */

.navbar{
    margin-bottom: 0; /*解决底部空白*/
}
nav{
	overflow: hidden;  /* 解决右侧空白*/
}

nav a{
	font-size: 18px;
}
.main-wrapper{

	background: #444 url(../img/banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover;
}

#banner{
	background-color: transparent;
	height: 600px;
}

nav a:hover{
	border-bottom: 2px solid red;
}
#banner .inner{
	max-width: 480px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top:180px;
}
#banner .inner h1{
	margin: 0;
	margin-bottom: 20px;
}
#banner button{
	padding: 14px 40px;
}

/* content */

.blue-section{
	background: #95d0de;
	text-align:center;
	color: #fff;
	padding: 100px 0;
}

.blue-section .icon-group img{
	width: 400px;
	height: 300px;
	background: #fff;
	margin: 30px 20px;   
}
@media (max-width:450px){
   .blue-section .icon-group img{width: 90%;height: 250px;}
   .blue-section p{padding: 0 15px;}
}
@media (max-width:1250px) and (min-width:450px){
   .blue-section .icon-group img{ width: 80%;height: 550px;}
   .blue-section p{padding: 0 15px;}
}

.hr{
   width: 100%;
   height:1px;
   margin: 20px auto;
  }
.gray-section{
	background: #bbb4d6;
}
.gray-section .img-section{
	width: 45%;
}
.img-section img{
	width: 100%;
}
.gray-section .text-section{
	width: 55%;
	height: 200px;
	overflow: hidden;
	padding-top: 25px;
	padding-left: 30px;
	margin-bottom: 20px;
}
.article-preview > div{
	float: left;

}
.article-preview:nth-child(odd){
	background: rgba(255,255,255,0.05);
}
 .article-preview:after{
	content: '';
 	display: block;
 	clear: both;
 }
 .text-section h2{
 	margin-bottom: 20px;
 }
 .text-section p{
 	font-size:18px;
 	letter-spacing: 1px;
 }
 .text-section >*{
 	max-width: 90%;
 }
 .purple-section{
 	padding: 80px;
 	background: #7a7fb6;
 	color: #fff;
 }
 .purple-section .heading-wrapper{
 	text-align: center;
 	margin-bottom: 30px;
 }
.card{
	float:left;
	width: 100%;
	padding: 3%;
}
h2{
	font-size: 30px;
	font-weight: 500;
}
p{
	font-size: 15px;
	letter-spacing: 1px;
	margin: 0;

}
.purple-section img{
	width: 100%;
}

/* footer */

footer{
	height: 90px;
	background:#A9A9A9;
	color: #fff;

}
footer p{
	padding-top: 40px;
	text-align: center;
}
button.back{
	position: fixed;
    bottom: 30px;
    right: 30px;
    border: 1px solid #ddd;
    background: #999;
    width: 42px;
    color: #f2dede;
    border-radius: 5px 5px;
}
